.env

db_creation

app/static/assets/py
app/static/assets/js/secretWords.js
app/static/assets/js/secretWords_ENG.js
app/static/assets/js/secretWords_pyformat.py
app/static/assets/js/encode_secret_words.py

*.pyc