<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/assets/js/secretWordsEncoded.js"></script>
  <script src="/assets/js/nearest1k.js"></script>
  <link rel="stylesheet" href="../assets/styles.css">
  <title>Semanttuli: lähimmät sanat</title>
</head>

<body>

  <div class="application-content">

    
    <div class="cont auto">
      <div style="margin-bottom: 2em;"><a href="/">&#8592 Takaisin Semanttuliin</a></div>
      <div id="warning" style="display:none; ">
        <div class="spoiler-warning" style="border:thin solid black; background-color: #ffdddd">
          Varoitus: Tulet näkemään vastauksen päivän Semanttuliin! Klikkaa tätä varoitusta varmistaaksesi, että haluat nähdä
          sivun sisällön.
        </div>
      </div>
      <div id="nearest" style="display:none;">
        Lähimpänä sanaa <b id="word">"{{word}}"</b> ovat:
        <table class="nearby-table">
          <tr>
            <th><b>Läheisyys (suurempi on lähempänä)</b></th>
            <th><b>Sana</b></th>
            <th><b>Samankaltaisuus</b></th>
          </tr>
          {% for word in words %}
          <tr>
            <td> {{word['percentile']}}</td>
            <td> {{word.neighbor}}</td>
            <td> {{word.similarity}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>



  </div>
</body>

</html>